@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.links a {
  text-decoration: none;
  margin-left: 20px;
}

.links a:hover {
  color: #f1356d;
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* Blog Styling */
.blog-preview {
  padding: 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  border-radius: 6px;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/* Blog Details */

.blog-details .blog-title {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details .body-text {
  margin: 20px 0;
}

.blog-details button {
  background-color: #f1356d;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0;
  border: none;
}

/* Add Blog Page */
.create {
  max-width: 400px;
  margin: 0 auto;
}

.create h2 {
  color: #f1356d;
  margin: 10px 0;
}

.create label {
  font-weight: 500;
}

.create label, .create input, .create select, textarea {
  width: 100%;
  box-sizing: border-box;
}

.create input, .create select, textarea {
  padding: 10px 0 10px 10px;
  margin-top: 5px;
}

.create div {
  margin: 20px 0;
}

.create .btn-div {
  text-align: center;
}

.create button {
  background-color: #f1356d;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  border: none;
  display: inline-block;
  cursor: pointer;
}